.collapse .navbar-nav .link-verde {
    color: green;
}
.fondo-edificio {
    -webkit-box-shadow: inset 10px 10px 300px 200px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 10px 10px 300px 200px rgba(0,0,0,0.6);
    box-shadow: inset 10px 10px 300px 200px rgba(0,0,0,0.6);

    background-image: url(../img/ba1.jpg);
    background-position: center;
    height: 30rem;
    background-size: cover;
}
.fondo-playa {
    background-image: url(../img/honolulu.jpg);
    background-position: center;
    background-size: cover;
    height: 30rem;
}
.parrafo {
    width: 50%;
}
.texto-chico {
    font-size: small;
}
.sub-punteado {
    border-bottom: 1.5px dotted #000;
    text-decoration: none;
    padding: 0;
}
.row .boton-form {
    background-color: rgb(113, 169, 57); 
} 
.footer {
    background: rgb(7,5,36);
    background: linear-gradient(90deg, rgba(7,5,36,1) 69%, rgba(33,87,98,1) 100%);
    height: 5rem;
}
@media (max-width: 600px) {
    .parrafo {
        width: auto;
    }
    .fondo-playa {
        height: auto;
    }
}